</body>
<div class="footwrap"></div>
<footer class="footer" id="footer">
  <div class="container" id="foot">
    <div class="columns is-desktop">
      <div class="column is-5">
        <h2 class="title is-5"><a href="/">Learn Web Dev®</a></h2>
        <p class="block">The road to proficiency is circuitous and the vicissitudes of the learning process are real,
          but mastering the fundamentals is paramount and will provide a strong and stable foundation that can be built
          upon for years. We strongly believe that. Our mission is to provide a thorough reference point and practical
          lessons for anyone wanting to learn web development. Our email is feverishly checked for user feedback, so
          please reach out to us. Thank you for visiting our site and we all wish you the best of luck on this beautiful
          journey. </p>
      </div>
      <div class="column">
        <h3 class="title is-6">Sites</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="html/tags">HTML Tags</a></li>
          <li><a href="/html/country/codes">HTML Country Codes</a></li>
          <li><a href="/server/codes">HTML Server Codes</a></li>
          <li><a href="/css/properties">CSS Properties</a></li>
          <li><a href="/js/methods">Javascript Methods</a></li>
        </ul>
      </div>
      <div class="column">
        <h6 class="title is-6">Contact</h6>
        <ul>
          <li><a href="#">projectgroupLynx@gmail.com </a></li>
          <li><a href="#">Lynx Web Dev- 5990 Richmond Ave.</a></li><br>
          <li>
            <p class="subtitle is-6">© 2019 Lynx Web Dev®. All right reserved.</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="column has-text-right-tablet">
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>