<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/profile">profile</a>
  </li>
  
 </ul>