body{
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}

.button-link{
    color: $Lynx-bootom-secondary;
    &:hover{
        color: $Lynx-tertiary; 
    }
}
.button-link-background{
    color: white;
    background-color: $Lynx-bootom-secondary;
    &:hover{
       background-color: $Lynx-tertiary; 
    }
}