 <!-- Hero -->
  <div class="block">
    <section class="hero is-primary is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1" id="heroHTML">
           ...CSS
          </h1>
          <h2 class="subtitle">“le sens commun est fort rare”

          </h2>
        </div>
      </div>
    </section>
  </div>
  <!-- Container for table -->
  <div class="container is-fluid">
      <section class="section" id="section1">
          <div class="container has-text-centered">
            <div class="columns is-multiline">
              <div class="column is-6 is-3-desktop">
                <h4 class="title is-spaced is-4">Background</h4>
                <p class="subtitle is-6">The CSS background property is a shorthand property for setting the background of an HTML element.</p>
              </div>
              <div class="column is-6 is-3-desktop">
                <h4 class="title is-spaced is-4">Display</h4>
                <p class="subtitle is-6">The CSS display property is used to specify whether an element should be displayed and if so, how it will be displayed.
              </p>
              </div>
              <div class="column is-6 is-3-desktop">
                <h4 class="title is-spaced is-4">Display</h4>
                <p class="subtitle is-6">The CSS display property is used to specify whether an element should be displayed and if so, how it will be displayed.
              </p>
              </div>
              <div class="column is-6 is-3-desktop">
                <h4 class="title is-spaced is-4">Display</h4>
                <p class="subtitle is-6">The CSS display property is used to specify whether an element should be displayed and if so, how it will be displayed.
              </p>
              </div>
              <div class="column is-6 is-3-desktop">
                <h4 class="title is-spaced is-4">Display</h4>
                <p class="subtitle is-6">The CSS display property is used to specify whether an element should be displayed and if so, how it will be displayed.
              </p>
              </div>
              <div class="column is-6 is-3-desktop">
                <h4 class="title is-spaced is-4">Display</h4>
                <p class="subtitle is-6">The CSS display property is used to specify whether an element should be displayed and if so, how it will be displayed.
              </p>
              </div>

            </div>
          </div>
        </section>
  </div>
