<!-- .hero -->
		<section class="hero">
			<div class="hero-body">
				<div class="container">
					<figure class="image center">
						<img src="./web10.png" style="max-width:950px;">
					</figure>
				</div>
			</div>
		</section>
		<!-- /.hero -->

		<!-- .section -->
		<section class="section has-background-light">
			<div class="container">
				<div class="columns">
					<div class="column">
						<div class="notification is-info">
							<h1 class="title is-size-4">...HTML?                  <i class="fab fa-html5"></i></h1>

						<a href="" class="link" style="text-decoration:none;"><p class="is-size-5">
								HTML (Hypertext Markup Language) is a text-based approach to describing how content contained within an HTML file is structured. This markup tells a web browser how to display text, images and other forms of multimedia on a webpage.<span class="emoticon">ᕕ( ᐛ )ᕗ</span>
							</p></a>
						</div>
					</div>
					<div class="column">
						<div class="notification is-primary">
							<h1 class="title is-size-4">...CSS?                 <i class="fab fa-css3-alt"></i></h1>
						<a href="" class="link" style="text-decoration:none;">	<p class="is-size-5">
								Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language like HTML. ... CSS is designed to enable the separation of presentation and content, including layout, colors, and fonts. <span class="emoticon">⦤(^ー^)⦥</span></a>
							</p>
						</div>
					</div>
					<div class="column">
						<div class="notification is-warning">
							<h1 class="title is-size-4">…Javascript?                   <i class="fab fa-js"></i></h1>
						<a href="" class="link" style="text-decoration:none;">	<p class="is-size-5">
								JavaScript (JS) is a programming language mostly used to dynamically script webpages on the client side, but it is also often utilized on the server-side, using packages such as Node.js.  JavaScript is mostly used in the browser, enabling developers to manipulate webpage content through the DOM, manipulate data with AJAX and IndexedDB, draw graphics with canvas, interact with the device running the browser through various APIs, and so forth.. <span class="emoticon">٩(^ᴗ^)۶</span>
							</p></a>
						</div>
					</div>
				</div>
			</div>
		</section>
