<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 id="login-title">Login</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <form >
        <input type="hidden" id="loginActive" value="1">
        <div class="toggle-name">
      <div class="form-group">
    <label for="firstName">Firts Name</label>
    <input type="text" class="form-control" id="firstName"  placeholder="First Name">
  </div>
   <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName"  placeholder="Last Name">
   </div>
   </div>
 <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input autocomplete="username" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input autocomplete="current-password" type="password" class="form-control" id="password" placeholder="Password">
  </div>
 <button  id="send" class="btn btn-primary btn-block" >login</button>
   <button  id="toggleLogin" class="btn btn-link">Sign Up</button>
  
</form>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">

    </div>
  </div>
</div>
