.home-header{
    height: 100vh;
    background-image: linear-gradient(to right bottom,
    rgba(0, 255, 187, 0.5),
    rgba(0, 255, 187, 0.5)), url("../../web10.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.search-container{
    text-align: center;
    position: absolute;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.search{
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    outline: none;
    box-shadow: none;
    border: none;
}
.notification{
    background: transparent;
}
.home-card-1{
    border-radius: 20px;
    background-image: linear-gradient(to right bottom,
    rgba(0, 123, 255, 0.5),
    rgb(0, 115, 255));
    margin: 20px;
  
}

.home-card-2{
    border-radius: 20px;
    background-image: linear-gradient(to right bottom,
    rgba(237, 8, 81, 0.5),
    rgba(255, 25, 0, 0.5));
    margin: 20px;
}

.home-card-3{
    border-radius: 20px;
    background-image: linear-gradient(to right bottom,
    rgba(19, 237, 8, 0.5),
    rgba(0, 255, 51, 0.5));
    margin: 20px;
    padding: 15px;
}

