/* Color Theme Swatches in Hex */
$Lynx-primary: #00D1B2;
$Lynx-secondary: #07E8C8;
$Lynx-tertiary: #14F3FF;
$Lynx-bootom-prymary: #07E8CC;
$Lynx-bootom-secondary: #08FFE2;

/* Color Theme Swatches in RGBA */
$Lynx-1-rgba: rgba(0,209,178, 1);
$Lynx-2-rgba: rgba(7,232,200, 1);
$Lynx-3-rgba: rgba(5,255,222, 1);
$Lynx-4-rgba: rgba(7,232,204, 1);
$Lynx-5-rgba: rgba(8,255,226, 1);

/* Color Theme Swatches in HSLA */
$Lynx-1-hsla: hsla(171, 100, 40, 1);
$Lynx-2-hsla: hsla(171, 94, 46, 1);
$Lynx-3-hsla: hsla(172, 100, 50, 1);
$Lynx-4-hsla: hsla(172, 94, 46, 1);
$Lynx-5-hsla: hsla(172, 100, 51, 1);